<section>
  <aside *ngIf="errorMessage">
    <h3 class="text-center">{{ errorMessage }}</h3>
  </aside>
  <fieldset>
    <legend>Selected Book</legend>

    <div>
      <p>ID: {{ book?._id }}</p>
    </div>
    <div>
      <p>Title: {{ book?.title }}</p>
    </div>
    <div>
      <p>Author: {{ book?.author }}</p>
    </div>
    <div>
      <p>Pages: {{ book?.pages }}</p>
    </div>
    <div>
      <p>Year: {{ book?.year }}</p>
    </div>
    <div>
      <p>Publisher: {{ book?.publisher }}</p>
    </div>
  </fieldset>
</section>
